<%= form_with(model: veiculo) do |form| %>
  <% if veiculo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(veiculo.errors.count, "error") %> prohibited this veiculo from being saved:</h2>

      <ul>
        <% veiculo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="card p-4 mt-5">
        <div class="row g-3">
            <div class="col-12 mb-4">
                <h4>Cadastra Veiculos</h4>
                <span class="text-muted">Preencha os dados do veiculo corretamente</span>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="form-floating">
                  <%= form.text_field :placa, class:"form-control", placeholder:"Digite a placa do veiculo" %>
                  <%= form.label "Digite a placa do veiculo:"%>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="form-floating">
                    <%= form.text_field :marca, class:"form-control", placeholder:"placa" %>
                    <%= form.label "Digite a marca do carro:" %>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="form-floating">
                    <%= form.text_field :modelo, class:"form-control", placeholder:"placa" %>
                    <%= form.label "Digite modelo do carro:" %>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="form-floating">
                    <%= form.text_field :cor, class:"form-control", placeholder:"placa" %>
                    <%= form.label "Digite a cor do carro:" %>
                </div>
            </div>
              <div class="col-lg-4 col-md-12">
                <div class="form-floating">
                  <%= form.select :tipo, options_for_select(@tipos), { include_blank: true }, class: "form-select" %>
                  <%= form.label :tipo %>
                </div>
              </div>
            <div class="col-12 mt-4">
              <%= form.submit "Add veiculo", class: "btn btn-success text-uppercase" %>
              <br>
              <%= link_to veiculos_path, class: "btn btn-danger text-uppercase" do %>
                 Cancelar
              <% end %>

            </div>
        </div>
    </div>
</div>
<% end %>
