<div id="<%= dom_id veiculo %>">
  <p>
    <strong>Placa:</strong>
    <%= veiculo.placa %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= veiculo.marca %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= veiculo.modelo %>
  </p>

  <p>
    <strong>Cor:</strong>
    <%= veiculo.cor %>
  </p>

</div>
