<div style="display: flex; align-items: center; margin-bottom: 50px;">
  <h1 style="margin-right: 10px;">Veiculos</h1>
  <%= link_to "Novo", new_veiculo_path, class: "btn4"%>
</div>

<div id="veiculos">
</div>
<div class="container mt-2">
  <table class="table table-borderless table-responsive card-3">
    <thead>
      <tr class="border-bottom">
        <th>
          <span>Placa</span>
        </th>
        <th>
          <span>Marca</span>
        </th>
        <th>
          <span>Modelo</span>
        </th>
        <th>
          <span>Cor</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @veiculos.each do |veiculo| %>
        <tr class="border-bottom">
          <td>
            <div>
              <span class="d-block font-weight-bold"><%= veiculo.placa.upcase%></span>
            </div>
          </td>
          <td>
            <div>
              <span class="d-block font-weight-bold"><%= veiculo.marca%></span>
            </div>
          </td>
          <td>
            <div>
              <span class="d-block font-weight-bold"><%= veiculo.modelo%></span>
            </div>
          </td>
          <td>
            <div>
              <span class="d-block font-weight-bold"><%= veiculo.cor%></span>
            </div>
          </td>
          <td>
            <div class="d-flex flex-row align-items-center">
              <div class="d-flex flex-column ml-2">
                <%= link_to "#", class: "btn5 ", style: "margin-right: 10px;" do %>
                  <i class="bi bi-pencil-square"></i>
                <% end %>
              </div>
              <div class="d-flex flex-column ml-2">
                <%= link_to "#", class: "btn6 " do %>
                  <i class="bi bi-trash"></i>
                <%end%>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
