<h1>Seja Bem-vindo!</h1>
<p><strong> Data:</strong> <%= data_br(Date.today) %></p>

<ul>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
</ul>


<p>
    Você está em ambiente de <strong><%= ambiente_rails %></strong>
</p>
<p> 
   Eu sou uma variavel de instancia/sessão <%= @nome%>
</p>

<p>
    Meu curso é o curso de <%= @curso%>
</p>