<p>
    <%= link_to "Português", root_path(locale: "pt-BR") %>
</p>

<p>
    <%= link_to "English", root_path(locale: "en") %>
</p>

<h1>Seja Bem-vindo!</h1>

<p>O idioma usado nessa aplicação é : <strong> <%= t("actual_locale") %> </strong></p>
<p><strong> Data:</strong><%= I18n.l(Date.today) %></p>
<p><%= I18n.t('hello') %></p>

<%= render "menu" %>

<p>
    Você está em ambiente de <strong><%= ambiente_rails %></strong>
</p>
<p> 
   Eu sou uma variavel de instancia/sessão <strong> <%= @meu_nome%></strong>
</p>

<p>
    Meu curso é o curso de <strong> <%= @curso%> </strong>
</p>