<div id="<%= dom_id preco %>">
<div class="container mt-2">
    <table class="table table-borderless table-responsive card-4">
      <thead>
        <tr class="border-bottom">
          <th>
            <span class="ml-2">Preço por hora:</span>
          </th>
          <th>
            <span class="ml-2">Tipo</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-bottom">
          <td>
            <div class="p-2">
              <span class="d-block font-weight-bold"><%= preco.preco_hora%></span>
            </div>
          </td>
          <td>
            <div class="p-2">
              <span class="d-block font-weight-bold"><%= preco.tipo%></span>
            </div>
          </td>
          <td>
            <div class="p-2 d-flex flex-row align-items-center mb-2">
              <div class="d-flex flex-column ml-2">
                <%= link_to "editar", edit_preco_path(preco) , class: "btn4 ", style: "margin-right: 10px;"%>
              </div>
              <div class="d-flex flex-column ml-2">
                <%= button_to "excluir", preco, :method => :delete , class: "btn3", data: { confirm: "Certeza que deseja exluir? "}%>
              </div>
            </div>
          </td>
        </div>
      </tbody>
    </table>
  </div>
</div>
