<div style="display: flex; align-items: center; margin-bottom: 50px;">
  <h1 style="margin-right: 10px;">Tabela de preços</h1>
  <%= link_to "Novo Preço", new_preco_path, class: "btn4"%>
</div>
<div class="container mt-2" style="display: flex;">
  <div style="flex: 1;">
    <table class="table table-borderless table-responsive card-10">
    <thead>
      <tr class="border-bottom">
        <th>
          <span>Tipo</span>
        </th>
        <th>
          <span>Preço</span>
        </th>
        <th>
        </tr>
      </thead>
      <tbody>
        <% @precos.each do |preco| %>
          <tr class="border-bottom">
            <td>
              <div>
                <span class="d-block font-weight-bold"><%= preco.tipo%></span>
              </div>
            </td>
            <td>
              <div>
                <span class="d-block font-weight-bold"><%= preco.preco_hora%></span>
              </div>
            </td>
            <td>
              <div class="d-flex flex-row align-items-center">
                <div class="d-flex flex-column ml-2">
                  <%= link_to "#", class: "btn5 ", style: "margin-right: 10px;" do %>
                    <i class="bi bi-pencil-square"></i>
                  <% end %>
                </div>
                <div class="d-flex flex-column ml-2">
                  <%= link_to "#", class: "btn6 " do %>
                    <i class="bi bi-trash"></i>
                  <%end%>
                </div>
              </div>
            </td>
          </div>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
    <div class="iphone-mockup">
      <%= image_tag("carro.png", style: "whidth: 230px; height: 300px;") %>
    </div>
  </div>
</div>

