<%= form_with(model: @checkin, url: checkins_path) do |form| %>
  <div class="container" id="info-veiculo">
    <div class="card p-4 mt-5">
      <div class="row g-3">
        <div class="col-12 mb-4">
          <h4>Fazer Check-in</h4>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="form-floating">
            <div class="field">
              <%= form.label :veiculo_placa %>
              <%= form.text_field :veiculo_placa, required: true %>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="form-floating">
            <div class="field">
              <%= form.label :veiculo_modelo %>
              <%= form.text_field :veiculo_modelo, required: true %>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="form-floating">
            <div class="field">
              <%= form.label :veiculo_marca %>
              <%= form.text_field :veiculo_marca, required: true %>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="form-floating">
            <div class="field">
              <%= form.label :veiculo_cor %>
              <%= form.text_field :veiculo_cor, required: true %>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="form-floating">
            <div class="field">
              <%= form.label :preco_tipo %>
              <%= form.text_field :preco_tipo, required: true %>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="form-floating">
            <div class="field">
              <%= form.label :preco_preco_hora %>
              <%= form.text_field :preco_preco_hora, required: true %>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="form-floating">
            <div class="field">
              <%= form.label :vaga_vaga_nome %>
              <%= form.text_field :vaga_vaga_nome, required: true %>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="form-floating">
            <div class="field">
              <%= form.label :vaga_status %>
              <%= form.check_box :vaga_status %>
            </div>
          </div>
        </div>
        <div class="col-12 mt-4">
          <div class="btn-group" role="group" aria-label="Botões">
            <%= form.submit "check-in", class: "btn btn-success text-uppercase",  style: "margin-right: 10px;" %>
            <%= link_to checkins_path, class: "btn btn-danger text-uppercase" do %>
              Cancelar
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
