<!DOCTYPE html>
<html>
  <head>
    <title>Blog da Diana Simão</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="mycolor p-2 text-white bg-opacity-75 text-center mb-4 p-4">
      <%= link_to root_path, class: "text-white" do %>
        <h1 class"display-4"> Blog Jovem Dev  <img src="https://cdn-icons-png.flaticon.com/512/2704/2704234.png" width="50" height="50"></h1>
      <% end %>

      <p class="lead">
        Olá, aqui você encontrará artigos sobre programação, tecnologia e carreira.
      </p>
    
    </div> 

    <div class="container">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type == "alert"? "danger" : "success" %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <div class="row">
        <div class="col-4 offset-8">
          <%= form_with url: search_posts_path, method: :get, local: true, class: "form-inline" do |form|%>
            <div class="input-group mx-3 mb-3">
              <%= form.search_field :q, class: "form-control", required: true, placeholder: "Buscar", value: params[:q] %>

              <%= form.submit "Busca", class: "btn btn-mycolor ", data: {disable_with: "Buscando...."} %>
            </div>
          <% end %>    
        </div>
      </div>

      <%= yield %>
    </div>

    <footer class="mycolor text-white text-center mt-5 p-4">
      Copyright ©️ Daiana Simão <%= Date.current.year %>
    </footer>
 
  </body>
</html>
