<div id="<%= dom_id ticket %>">
  <p>
    <strong>Hora entrada:</strong>
    <%= ticket.hora_entrada %>
  </p>

  <p>
    <strong>Hora saida:</strong>
    <%= ticket.hora_saida %>
  </p>

  <p>
    <strong>Valor cobrado:</strong>
    <%= ticket.valor_cobrado %>
  </p>

  <p>
    <strong>Veiculo:</strong>
    <%= ticket.veiculo_id %>
  </p>

</div>
