<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Gerenciador de Tarefas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hiden="true" >&times;</span>
      </button>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
