<%= form_with(model: vaga) do |form| %>
  <% if vaga.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vaga.errors.count, "error") %> prohibited this vaga from being saved:</h2>
      <ul>
        <% vaga.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="card p-4 mt-5">
      <div class="row g-3">
        <div class="col-12">
          <div class="col-12 mb-4">
            <h4>Cadastrar Vagas</h4>
            <span class="text-muted">Preencha todos os dados corretamente:</span>
          </div>
          <div class="form-check form-check-inline">
            <%= form.radio_button :status, 'ocupada', id: 'status_ocupada', class: 'form-check-input', checked: vaga.status == 'ocupada' %>
            <%= form.label :status, ' Ocupada', class: 'form-check-label', for: 'status_ocupada' %>
          </div>
          <div class="form-check form-check-inline mb-4">
            <%= form.radio_button :status, 'disponivel', id: 'status_disponivel', class: 'form-check-input', checked: vaga.status == 'disponivel' %>
            <%= form.label :status, ' Disponível', class: 'form-check-label', for: 'status_disponivel' %>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-floating">
              <%= form.text_field :vaga, class:"form-control", placeholder:"Digite o andar",required: true %>
              <%= form.label :vaga %>
            </div>
          </div>
          <div>
            <div class="col-lg-4 mt-3 d-flex">
              <%= form.submit "Atualizar vaga", class: "btn text-uppercase ", style: "margin-right: 10px;" %>
              <%= link_to "Vagas", vagas_path, class: "btn text-uppercase ml-4" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
