  <body>
     <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to "Português",new_mining_type_path(locale: "pt-BR"), class:"nav-link"  %>
        </li>
        <li class="nav-item">
          <%= link_to "English", new_mining_type_path(locale: "en"), class:"nav-link" %>
        </li>
      </ul>
      <%= yield %> 
    </div>
  </body>

<h1><%= t("new.mining_type") %></h1>

<%= render 'form', mining_type: @mining_type %>

<%= link_to t("links.back"), mining_types_path, class: "btn btn-primary" %>
